@import "@stickearncom/scstyles/base/variables.scss";
@import "@stickearncom/scstyles/base/font-mixins.scss";
@import "@stickearncom/scstyles/base/mixin.scss";
@import "@stickearncom/scstyles/base/colors-variables.scss";

.sc-btn {
  &.ant-btn {
    font-family: $font-stack;
    @include font-medium-sm;
    border-radius: 6px;
    transition: 0.2s all;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include box-shadow(none);

    .icon {
      font-size: 20px;
    }

    &.ant-btn-loading {
      .anticon-loading {
        display: none;
      }
      .icon-loading-outline {
        margin-right: 8px;
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        font-weight: 900;
      }

      @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
      }
    }

    &.sc-btn-default,
    &.sc-btn-dashed,
    &.sc-btn-primary,
    &.sc-btn-text,
    &.sc-btn-link {
      height: 46px;
      padding: 0 24px;

      &.sc-btn-icon {
        width: 46px;
        max-width: 46px;
        padding: 0;

        &.ant-btn-lg {
          width: 56px;
          max-width: 56px;
          padding: 0;
        }
        &.ant-btn-sm {
          width: 34px;
          max-width: 34px;
          padding: 0;
        }
      }

      &.ant-btn-lg {
        height: 56px;
        @include font-medium-md;
        padding: 0 32px;
      }
      &.ant-btn-sm {
        height: 34px;
        @include font-medium-sm;
        padding: 0 16px;
      }
    }

    &.sc-btn-default,
    &.sc-btn-dashed {
      border: 2px solid $gray-2;

      &:disabled {
        background-color: $gray-2;
        border-color: $gray-4;
        color: $gray-4;
      }
    }

    &.sc-btn-primary {
      border: 2px solid $purple-6;

      &:disabled {
        background-color: $gray-2;
        border-color: $gray-2;
        color: $gray-4;
      }
    }

    &.sc-btn-dashed {
      border: 2px dashed $gray-2;
    }

    &.sc-btn-text {
      border: 2px solid transparent;

      &:disabled {
        background-color: transparent;
        border-color: transparent;
        color: $gray-4;
      }
    }

    &.sc-btn-link {
      height: auto;
      width: auto;
      &:disabled {
        color: $gray-4;
      }

      &.ant-btn-lg {
        height: auto;
        width: auto;
      }
      &.ant-btn-sm {
        height: auto;
        width: auto;
      }
    }

    &:not(&:disabled) {
      color: $gray-10;
      &.sc-btn-default,
      &.sc-btn-dashed {
        background-color: $white-1;
        &:hover {
          background-color: $purple-1;
          border-color: $purple-1;
          color: $purple-6;
        }
        &:focus {
          color: inherit;
        }
        &:active {
          background-color: $purple-8;
          border-color: $purple-8;
          color: $white-1;
        }

        &.ant-btn-loading {
          i {
            color: $purple-6;
          }
        }

        &.sc-btn-danger {
          &:hover {
            background-color: $red-1;
            border-color: $red-1;
            color: $red-8;
          }
          &:focus {
            color: inherit;
          }
          &:active {
            background-color: $red-10;
            border-color: $red-10;
            color: $white-1;
          }

          &.ant-btn-loading {
            i {
              color: $red-8;
            }
          }
        }
      }
      &.sc-btn-primary {
        background-color: $purple-6;
        color: $white-1;
        &:hover {
          background-color: $purple-4;
          border-color: $purple-4;
        }
        &:focus {
          color: $white-1;
        }
        &:active {
          background-color: $purple-8;
          border-color: $purple-8;
          color: $white-1;
        }

        &.ant-btn-loading {
          i {
            color: $white-1;
          }
        }

        &.sc-btn-danger {
          background-color: $red-8;
          border-color: $red-8;
          &:hover {
            background-color: $red-6;
            border-color: $red-6;
            color: $white-1;
          }
          &:focus {
            color: $white-1;
          }
          &:active {
            background-color: $red-10;
            border-color: $red-10;
            color: $white-1;
          }
        }
      }
      &.sc-btn-dashed {
        &:hover {
          border: 2px dashed $purple-1;
        }
        &:active {
          border: 2px solid $purple-8;
        }
      }
      &.sc-btn-text {
        background-color: transparent;

        &::before {
          background-color: transparent;
        }

        &:hover {
          background-color: $purple-1;
          border-color: $purple-1;
          color: $purple-6;
        }
        &:focus {
          color: inherit;
        }
        &:active {
          background-color: $purple-8;
          border-color: $purple-8;
          color: $white-1;
        }

        &.ant-btn-loading {
          i {
            color: $purple-6;
          }
        }

        &.sc-btn-danger {
          &:hover {
            background-color: $red-1;
            border-color: $red-1;
            color: $red-8;
          }
          &:focus {
            color: $red-8;
          }
          &:active {
            background-color: $red-10;
            border-color: $red-10;
            color: $white-1;
          }
          &.ant-btn-loading {
            i {
              color: $red-8;
            }
          }
        }
      }

      &.sc-btn-link {
        color: $purple-6;
        &::before {
          background-color: transparent;
        }
        &:hover {
          color: $purple-4;

          *:not(.icon) {
            text-decoration: underline;
          }
        }
        &:focus {
          color: $purple-6;
        }
        &:active {
          color: $purple-8;
        }
        &.ant-btn-loading {
          i {
            color: $purple-4;
          }
        }

        &.sc-btn-danger {
          &.ant-btn-loading {
            i {
              color: $red-6;
            }
          }
        }
      }

      &.sc-btn-default,
      &.sc-btn-dashed,
      &.sc-btn-text,
      &.sc-btn-link {
        &.sc-btn-danger {
          color: $red-8;
        }
      }
    }
  }
}
