@font-face {
    font-family: 'Gotham Rounded';
    src: url('./GothamRnd-Bold.woff2') format('woff2'),
        url('./GothamRnd-Bold.woff') format('woff'),
        url('./GothamRnd-Bold.ttf') format('truetype'),
        url('./GothamRnd-Bold.svg#GothamRnd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('./GothamRnd-Book.woff2') format('woff2'),
        url('./GothamRnd-Book.woff') format('woff'),
        url('./GothamRnd-Book.ttf') format('truetype'),
        url('./GothamRnd-Book.svg#GothamRnd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('./GothamRnd-Medium.woff2') format('woff2'),
        url('./GothamRnd-Medium.woff') format('woff'),
        url('./GothamRnd-Medium.ttf') format('truetype'),
        url('./GothamRnd-Medium.svg#GothamRnd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

