.sc-grid {
  .markdown {
    color: #314659;
    font-size: 14px;
    line-height: 2;

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #0d1a26;
      font-variant: tabular-nums;
      margin: 1.6em 0 .6em;
      font-weight: 500;
      clear: both;
    }
  }

  .grid-demo .code-box-demo .demo-row,
  .grid-demo .demo-row,
  [id^=components-grid-demo-] .code-box-demo .demo-row,
  [id^=components-grid-demo-] .demo-row {
    background-image: linear-gradient(90deg, #f5f5f5 4.16666667%, transparent 0, transparent 8.33333333%, #f5f5f5 0, #f5f5f5 12.5%, transparent 0, transparent 16.66666667%, #f5f5f5 0, #f5f5f5 20.83333333%, transparent 0, transparent 25%, #f5f5f5 0, #f5f5f5 29.16666667%, transparent 0, transparent 33.33333333%, #f5f5f5 0, #f5f5f5 37.5%, transparent 0, transparent 41.66666667%, #f5f5f5 0, #f5f5f5 45.83333333%, transparent 0, transparent 50%, #f5f5f5 0, #f5f5f5 54.16666667%, transparent 0, transparent 58.33333333%, #f5f5f5 0, #f5f5f5 62.5%, transparent 0, transparent 66.66666667%, #f5f5f5 0, #f5f5f5 70.83333333%, transparent 0, transparent 75%, #f5f5f5 0, #f5f5f5 79.16666667%, transparent 0, transparent 83.33333333%, #f5f5f5 0, #f5f5f5 87.5%, transparent 0, transparent 91.66666667%, #f5f5f5 0, #f5f5f5 95.83333333%, transparent 0);
    overflow: hidden;
    margin-bottom: 8px
  }

  .grid-demo .ant-row-flex,
  .grid-demo .code-box-demo .ant-row-flex,
  [id^=components-grid-demo-] .ant-row-flex,
  [id^=components-grid-demo-] .code-box-demo .ant-row-flex {
    background: #f5f5f5
  }

  .grid-demo .ant-row-flex>div,
  .grid-demo .ant-row>div,
  .grid-demo .code-box-demo .ant-row-flex>div,
  .grid-demo .code-box-demo .ant-row>div,
  [id^=components-grid-demo-] .ant-row-flex>div,
  [id^=components-grid-demo-] .ant-row>div,
  [id^=components-grid-demo-] .code-box-demo .ant-row-flex>div,
  [id^=components-grid-demo-] .code-box-demo .ant-row>div {
    padding: 5px 0;
    text-align: center;
    border-radius: 0;
    min-height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff
  }

  .grid-demo .code-box-demo .ant-row-flex>div:not(.gutter-row),
  .grid-demo .code-box-demo .ant-row>div:not(.gutter-row),
  [id^=components-grid-demo-] .code-box-demo .ant-row-flex>div:not(.gutter-row),
  [id^=components-grid-demo-] .code-box-demo .ant-row>div:not(.gutter-row) {
    background: #00a0e9;
    padding: 16px 0
  }

  .grid-demo .code-box-demo .ant-row-flex>div:not(.gutter-row):nth-child(odd),
  .grid-demo .code-box-demo .ant-row>div:not(.gutter-row):nth-child(odd),
  [id^=components-grid-demo-] .code-box-demo .ant-row-flex>div:not(.gutter-row):nth-child(odd),
  [id^=components-grid-demo-] .code-box-demo .ant-row>div:not(.gutter-row):nth-child(odd) {
    background: rgba(0, 160, 233, .7)
  }

  .grid-demo .ant-row .demo-col,
  .grid-demo .code-box-demo .ant-row .demo-col,
  [id^=components-grid-demo-] .ant-row .demo-col,
  [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col {
    text-align: center;
    padding: 30px 0;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-top: 0;
    margin-bottom: 0
  }

  .grid-demo .ant-row .demo-col-1,
  [id^=components-grid-demo-] .ant-row .demo-col-1 {
    background: rgba(0, 160, 233, .7)
  }

  .grid-demo .ant-row .demo-col-2,
  .grid-demo .code-box-demo .ant-row .demo-col-2,
  [id^=components-grid-demo-] .ant-row .demo-col-2,
  [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-2 {
    background: rgba(0, 160, 233, .5)
  }

  .grid-demo .ant-row .demo-col-3,
  .grid-demo .code-box-demo .ant-row .demo-col-3,
  [id^=components-grid-demo-] .ant-row .demo-col-3,
  [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-3 {
    background: hsla(0, 0%, 100%, .2);
    color: #999
  }

  .grid-demo .ant-row .demo-col-4,
  .grid-demo .code-box-demo .ant-row .demo-col-4,
  [id^=components-grid-demo-] .ant-row .demo-col-4,
  [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-4 {
    background: rgba(0, 160, 233, .6)
  }

  .grid-demo .ant-row .demo-col-5,
  .grid-demo .code-box-demo .ant-row .demo-col-5,
  [id^=components-grid-demo-] .ant-row .demo-col-5,
  [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-5 {
    background: hsla(0, 0%, 100%, .5);
    color: #999
  }

  .grid-demo .code-box-demo .height-100,
  [id^=components-grid-demo-] .code-box-demo .height-100 {
    height: 100px;
    line-height: 100px
  }

  .grid-demo .code-box-demo .height-50,
  [id^=components-grid-demo-] .code-box-demo .height-50 {
    height: 50px;
    line-height: 50px
  }

  .grid-demo .code-box-demo .height-120,
  [id^=components-grid-demo-] .code-box-demo .height-120 {
    height: 120px;
    line-height: 120px
  }

  .grid-demo .code-box-demo .height-80,
  [id^=components-grid-demo-] .code-box-demo .height-80 {
    height: 80px;
    line-height: 80px
  }

  [id^=components-grid-demo-] .code-box-demo .ant-row>div:not(.gutter-row):nth-child(odd) {
    background: rgba(0, 160, 233, .7);
  }

  [id^=components-grid-demo-] .code-box-demo .ant-row>div:not(.gutter-row) {
    background: #00a0e9;
    padding: 16px 0;
  }

  .code-box:target {
    border: 1px solid #1890ff;
  }

  .code-box {
    border: 1px solid #ebedf0;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px;
    transition: all .2s;
  }

  .code-box-demo {
    border-bottom: 1px solid #ebedf0;
    padding: 42px 24px 50px;
    color: rgba(0, 0, 0, .65);
  }

  .code-box-meta.markdown {
    position: relative;
    width: 100%;
    font-size: 14px;
    border-radius: 0 0 2px 2px;
    transition: background-color .4s;
  }

  .code-box-meta .demo-description>h4,
  .code-box-meta>h4 {
    position: absolute;
    top: -14px;
    padding: 1px 8px;
    margin-left: 16px;
    color: #777;
    border-radius: 2px 2px 0 0;
    background: #fff;
    font-size: 14px;
    width: auto !important;
  }
  .code-box-meta h4, section.code-box-meta .demo-description>p, section.code-box-meta p {
    margin: 0;
    width: 98%;
  }
  .code-box-meta .demo-description>p, .code-box-meta>p {
    font-size: 12px;
    margin: .5em 0;
    padding: 18px 24px 12px;
    width: 100%;
    word-break: break-word;
  }

  .code-box .highlight-wrapper {
    position: relative;
    display: block;
    overflow: auto;
    border-radius: 0 0 2px 2px;
  }
  .code-box-actions {
    padding-top: 12px;
    text-align: center;
    opacity: .7;
    transition: opacity .3s;
    display: inline-block;
    width: 100%;

    img {
      margin: auto;
    }
  }
  .code-box-actions, .code-box .highlight:not(:first-child) {
    border-top: 1px dashed #ebedf0;
    display: inline-block;
  }
  // .code-box {
  //   pre {
  //     margin: 0;
  //     width: auto;
  //     overflow: auto;
  //     code {
  //       border: none;
  //       background: #fff;
  //     }
  //   }
  //   pre>code[class*=lang-], pre>code[class*=language-] {
  //     padding: 12px 20px;
  //     overflow: auto;
  //   }
  // }

  // code[class*=language-], pre[class*=language-] {
  //   color: #000;
  //   background: none;
  //   direction: ltr;
  //   text-align: left;
  //   word-spacing: normal;
  //   word-break: normal;
  //   word-wrap: normal;
  //   line-height: 1.5;
  //   -moz-tab-size: 4;
  //   -o-tab-size: 4;
  //   tab-size: 4;
  //   -webkit-hyphens: none;
  //   -ms-hyphens: none;
  //   hyphens: none;
  // }

}