@import "@stickearncom/scstyles/base/variables.scss";
@import "@stickearncom/scstyles/base/font-mixins.scss";
@import "@stickearncom/scstyles/base/mixin.scss";
@import "@stickearncom/scstyles/base/colors-variables.scss";

.sc-popconfirm {
  @include flexbox;
  @include align-items(center);
}

  .ant-popover-inner-content {
    width: 330px;
    height: 125px;
    border-radius: 7px;

    .ant-popover-message {
      padding: 0;
      @include flexbox;
      @include align-items(center);

      i.icon {
        font-size: 18px;
      }

      .ant-popover-message-title {
        margin-left: 8px;
        padding: 0;
      }
    }

    .ant-popover-buttons {
      margin-top: 24px;
      width: 100%;
      @include flexbox;
      @include justify-content(flex-end);

      .ant-btn {
        font-family: $font-stack;
        @include font-medium-sm;
        border-radius: 6px;
        transition: 0.2s all;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include box-shadow(none);

        color: $gray-10;
        background-color: $white-1;
        &:hover {
          background-color: $purple-1;
          border-color: $purple-1;
          color: $purple-6;
        }
        &:focus {
          color: inherit;
        }
        &:active {
          background-color: $purple-8;
          border-color: $purple-8;
          color: $white-1;
        }

        &.ant-btn-sm {
          height: 34px;
          @include font-medium-sm;
          padding: 0 16px;
          border: 2px solid $gray-2;
        }
        &.ant-btn-primary {
          border: 2px solid $purple-6;
          background-color: $purple-6;
          color: $white-1;
          &:hover {
            background-color: $purple-4;
            border-color: $purple-4;
          }
          &:focus {
            color: $white-1;
          }
          &:active {
            background-color: $purple-8;
            border-color: $purple-8;
            color: $white-1;
          }
        }
      }
    }
  }