@import "@stickearncom/scstyles/base/variables.scss";
@import "@stickearncom/scstyles/base/font-mixins.scss";
@import "@stickearncom/scstyles/base/mixin.scss";
@import "@stickearncom/scstyles/base/colors-variables.scss";

.sc-alert {
  &.ant-alert {
    @include border-radius(6px);
    position: relative;
    padding: 10px 10px 10px 50px;
    color: $gray-8;
    line-height: 1.5;

    &.ant-alert-no-icon {
      padding: 10px 16px;
    }

    .ant-alert-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-45%);
      left: 16px;
      font-size: 24px;
    }

    .ant-alert-close-icon {
      top: 5px;
    }
    
  }

  &.ant-alert-info {
    background-color: $purple-1;
    border: 1px solid $purple-4;

    &.ant-alert-banner {
      border: none;
    }

    .ant-alert-icon {
      color: $purple-7;
    }
  }

  &.ant-alert-banner {
    @include border-radius(6px);
  }

  &.ant-alert-with-description {
    .ant-alert-icon {
      position: absolute;
      top: 23px;
      left: 16px;
      font-size: 24px;
    }

    .ant-alert-close-icon {
      top: 5px;
    }
  }

  .ant-alert-message {
    @include font-medium-sm;
  }

  .ant-alert-description {
    @include font-regular-xs;
  }
}
