@import "@stickearncom/scstyles/base/variables.scss";
@import "@stickearncom/scstyles/base/font-mixins.scss";
@import "@stickearncom/scstyles/base/mixin.scss";
@import "@stickearncom/scstyles/base/colors-variables.scss";

.sc-input {
  &.ant-input {
    font-family: $font-stack;
    border: 2px solid $gray-1;
    padding: 12px 14px;
    height: 46px;
    @include border-radius(6px);
    @include font-regular-sm;

    &.ant-input-sm {
      padding: 6px 14px;
      height: 34px;
    }

    &.ant-input-lg {
      padding: 16px 14px;
      height: 56px;
      @include font-regular-md;
    }

    &:not(:disabled) {
      background-color: $gray-1;
      color: $gray-8;

      &::placeholder {
        color: $gray-3;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $white-1;
        border-color: $purple-6;
        border-right-width: 2px !important;
      }
      
      &:active,
      &:focus {
        @include box-shadow(0px 0px 0px 2px rgba(127, 67, 196, 0.12));
      }
    }

    &:disabled {
      background-color: $gray-2;
      border-color: $gray-2;
      color: $gray-4;
    }
  }

  &.ant-input-affix-wrapper {
    .ant-input {
      font-family: $font-stack;
      border: 2px solid $gray-1;
      @include padding-y(12px);
      height: 46px;
      @include border-radius(6px);
      @include font-regular-sm;

      &:not(:first-child) {
        padding-left: 40px;
      }
      &:not(:last-child) {
        padding-right: 50px;
      }

      &.ant-input-sm {
        @include padding-y(6px);
        height: 34px;
      }

      &.ant-input-lg {
        @include padding-y(16px);

        height: 56px;
        @include font-regular-md;
      }

      &:not(:disabled) {
        background-color: $gray-1;
        color: $gray-8;

        &::placeholder {
          color: $gray-3;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $white-1;
          border-color: $purple-6;
          box-shadow: none;
          border-right-width: 2px !important;
        }

        &:active,
        &:focus {
          @include box-shadow(0px 0px 0px 2px rgba(127, 67, 196, 0.12));
        }
      }

      &:disabled {
        background-color: $gray-2;
        border-color: $gray-2;
        color: $gray-4;
      }
    }

    .ant-input-suffix {
      .ant-input-clear-icon {
        color: $red-8;
        font-size: 14px;
      }
    }

    &:hover {
      .ant-input {
        &:not(.ant-input-disabled) {
          background-color: $white-1;
          border-color: $purple-6;
          border-right-width: 2px !important;
        }
      }
    }
  }

  &.sc-input-error {
    &.ant-input {
      &:not(&:disabled) {
        background-color: $white-1;
        border-color: $red-8;
        color: $gray-8;

        &:hover,
        &:active,
        &:focus {
          background-color: $white-1;
          border-color: $red-8;
          border-right-width: 2px !important;
        }

        &:active,
        &:focus {
          @include box-shadow(0px 0px 0px 2px rgba(245, 34, 45, 0.12));
        }
      }
    }

    &.ant-input-affix-wrapper {
      .ant-input {
        &:not(&:disabled) {
          background-color: $white-1;
          border-color: $red-8;
          color: $gray-8;

          &:hover,
          &:active,
          &:focus {
            background-color: $white-1;
            border-color: $red-8;
            @include box-shadow(0px 0px 0px 2px rgba(245, 34, 45, 0.12));
          }

          &:active,
          &:focus {
            @include box-shadow(0px 0px 0px 2px rgba(245, 34, 45, 0.12));
          }
        }
      }
    }
  }

  &.ant-input-group-wrapper {
    .ant-input-group {
      @include font-regular-sm;
      .ant-input-group-addon {
        color: $gray-9;
        padding: 0 14px;
        background-color: $gray-2;
        border-width: 2px;
        border-color: $gray-2;
        @include font-regular-sm;
        &:first-child {
          @include border-radius-left(6px);
        }
        &:last-child {
          @include border-radius-right(6px);
        }
      }

      .ant-input {
        font-family: $font-stack;
        border-width: 2px;
        border-color: $gray-1;
        padding: 12px 14px;
        height: 46px;
        @include border-radius(0);
        @include font-regular-sm;

        &.ant-input-sm {
          padding: 6px 14px;
          height: 34px;
        }

        &.ant-input-lg {
          padding: 16px 14px;
          height: 56px;
          @include font-regular-md;
        }

        &:not(&:disabled) {
          background-color: $gray-1;
          color: $gray-8;

          &::placeholder {
            color: $gray-3;
          }

          &:hover,
          &:active,
          &:focus {
            background-color: $white-1;
            border-color: $purple-6;
            border-right-width: 2px !important;
          }

          &:active,
          &:focus {
            @include box-shadow(0px 0px 0px 2px rgba(127, 67, 196, 0.12));
          }
        }

        &:disabled {
          background-color: $gray-2;
          border-color: $gray-2;
          color: $gray-4;
        }
      }

      .ant-input-affix-wrapper {
        .ant-input {
    
          &:not(:first-child) {
            padding-left: 40px;
          }
          &:not(:last-child) {
            padding-right: 30px;
          }
        }
    
        .ant-input-suffix {
          .ant-input-clear-icon {
            color: $red-8;
            font-size: 14px;
          }
        }
      }
    }

    &.sc-input-disabled {
      .ant-input-group {
        .ant-input-group-addon {
          color: $gray-4;
        }
      }
    }
    &.ant-input-group-wrapper-sm {
      .ant-input-group-addon {
        padding: 0 12px;
      }
    }
    &.ant-input-group-wrapper-lg {
      .ant-input-group-addon {
        @include font-regular-md;
      }
    }

    &.sc-input-error {
      .ant-input {
        &:not(&:disabled) {
          background-color: $white-1;
          border-color: $red-8;
          color: $gray-8;
  
          &:hover,
          &:active,
          &:focus {
            background-color: $white-1;
            border-color: $red-8;
            border-right-width: 2px !important;
          }

          &:active,
          &:focus {
            @include box-shadow(0px 0px 0px 2px rgba(245, 34, 45, 0.12));
          }
        }
      }

    }
  }

  i.icon {
    font-size: 20px;
  }

  .ant-input-suffix,
  .ant-input-prefix {
    font-weight: 500;
  }
}
