@import "@stickearncom/scstyles/base/variables.scss";
@import "@stickearncom/scstyles/base/font-mixins.scss";
@import "@stickearncom/scstyles/base/mixin.scss";
@import "@stickearncom/scstyles/base/colors-variables.scss";

.sc-input-search {
  position: relative;
  font-family: $font-stack;
  &.ant-input-search {
    .ant-input-group {
      border: 2px solid $gray-1;
      @include border-radius(6px);

      &:hover,
      &:focus-within {
        background-color: $white-1;
        border-color: $purple-6;
        border-right-width: 2px !important;
      }

      &:focus-within {
        @include box-shadow(0px 0px 0px 2px rgba(127, 67, 196, 0.12));
      }
    }
    .ant-input {
      border: none;
      padding: 12px 14px;
      height: 46px;
      background-color: $white-1;
      color: $gray-8;
      @include border-radius(6px);
      @include font-regular-sm;
  
      &.ant-input-sm {
        padding: 6px 14px;
        height: 34px;
      }
  
      &.ant-input-lg {
        padding: 16px 14px;
        height: 56px;
        @include font-regular-md;
      }
  

      &::placeholder {
        color: $gray-3;
      }

      &:hover,
      &:active,
      &:focus {
        border-color: $gray-1;
        border-right-width: 2px !important;
      }
      
      &:active,
      &:focus {
        @include box-shadow(none);
      }
      &:parent(.ant-input-search) {
        border: 2px solid black;
      }
    }
    
    .ant-input-group-addon {
      @include border-radius(6px);
    }
    .ant-input-search-button {
      @include border-radius-right(6px);
      color: $gray-10;
      &.ant-btn {
        height: 46px;
        border: none;
        border-left: 2px solid $gray-1;
        font-size: 20px;
        @include flexbox;
        @include align-items(center);

        &:after {
          display: none;
          @include box-shadow(none);
        }
      }
      &.ant-btn-sm {
        height: 34px;
      }
      &.ant-btn-lg {
        height: 56px;
      }
    }

    .ant-input-clear-icon {
      color: $red-8;
      font-size: 14px;
    }

    &.sc-input-search-disabled {
      .ant-input-group,
      .ant-input,
      .ant-btn {
        background-color: $gray-2;
      }

      .ant-input-group {
        &:focus-within {
          @include box-shadow(none);
        }
      }

      .ant-btn,
      .ant-input-group {
        border-color: $gray-2;
      }

      .ant-btn {
        cursor: not-allowed;
      }
    }
  }

}