@import "@stickearncom/scstyles/base/variables.scss";
@import "@stickearncom/scstyles/base/font-mixins.scss";
@import "@stickearncom/scstyles/base/mixin.scss";
@import "@stickearncom/scstyles/base/colors-variables.scss";

.sc-select {
  &.ant-select {
    font-family: $font-stack;
    @include font-regular-sm;
    color: $gray-8;

    &.ant-select-lg {
      @include font-regular-md;
      .ant-select-selection {
        &.ant-select-selection--single {
          height: 56px;
          .ant-select-selection__rendered {
            line-height: 52px;
          }
        }
        &.ant-select-selection--multiple {
          .ant-select-selection__clear {
            top: 26px;
          }
        }
      }
    }

    &.ant-select-sm {
      .ant-select-selection {
        &.ant-select-selection--single {
          height: 34px;
          .ant-select-selection__rendered {
            line-height: 30px;
          }
        }
        &.ant-select-selection--multiple {
          .ant-select-selection__clear {
            top: 14px;
          }
        }
      }
    }

    &.sc-select-search {
      .ant-select-selection {
        &.ant-select-selection--single,
        &.ant-select-selection--multiple {
          .ant-select-selection__rendered {
            .ant-select-selection__placeholder {
              color: $gray-3;
            }
          }
        }
      }
    }

    &.sc-select-tags,
    &.sc-select-multiple {
      &.ant-select-sm {
        .ant-select-selection {
          &.ant-select-selection--multiple {
            min-height: 34px;
            .ant-select-selection__rendered {
              line-height: 28px;
              ul > li {
                @include font-regular-xs;
                height: 20px;
                margin-top: 5px;
                line-height: 18px;
              }

              .ant-select-selection__choice__remove {
                line-height: 15px;
              }
            }
          }
        }
      }

      &.ant-select-lg {
        .ant-select-selection {
          &.ant-select-selection--multiple {
            min-height: 56px;
            .ant-select-selection__rendered {
              line-height: 52px;
              ul > li {
                @include font-regular-sm;
                height: 34px;
                margin-top: 8px;
                line-height: 32px;
              }

              .ant-select-selection__choice__remove {
                line-height: 30px;
              }
            }
          }
        }
      }

      .ant-select-selection {
        &.ant-select-selection--multiple {
          .ant-select-selection__rendered {
            line-height: 42px;
            ul > li {
              @include font-regular-xs;
              height: 26px;
              margin-top: 8px;
              line-height: 24px;
            }

            .ant-select-selection__choice[title="Select All"] {
              display: none;
            }

            .ant-select-selection__choice__remove {
              line-height: 22px;
            }
            .ant-select-selection__placeholder {
              color: $gray-3;
            }
            .ant-select-selection__choice {
              background-color: $gray-8;
              border-color: $gray-8;
              border-radius: 9999px;

              div,
              span {
                color: $white-1;
              }
            }
          }

          .ant-select-arrow {
            top: 50%;
          }
        }
      }
    }

    &.sc-select-multiple,
    &.sc.select-checkbox {
      &.ant-select-focused {
        &::after {
          display: none;
        }
      }
      .ant-select-selection__rendered {
        .ant-select-selection__placeholder {
          display: none !important;
        }
        ul {
          .ant-select-selection__choice {
            display: none;
          }
        }
      }
    }

    &.sc-select-error {
      .ant-select-selection {
        border-color: $red-7;

        &:hover,
        &:active,
        &:focus {
          background-color: $white-1;
          border-color: $red-7;
        }

        &:active,
        &:focus,
        &:focus-within {
          @include box-shadow(0px 0px 0px 2px rgba(245, 34, 45, 0.12));
        }
      }

      &.ant-select-open:not(.sc-select-disabled) {
        .ant-select-selection {
          @include box-shadow(0px 0px 0px 2px rgba(245, 34, 45, 0.12));
        }
      }

      &.ant-select-focused:not(.sc-select-disabled) {
        .ant-select-selection {
          @include box-shadow(0px 0px 0px 2px rgba(245, 34, 45, 0.12));

          &:active,
          &:focus {
            border-color: $red-7;
            @include box-shadow(0px 0px 0px 2px rgba(245, 34, 45, 0.12));
          }
        }
      }
    }

    .ant-select-selection {
      border: 2px solid $gray-2;
      @include border-radius(6px);
      background: $gray-1;

      &:hover {
        background-color: $white-1;
        border-color: $purple-6;
        border-right-width: 2px !important;
      }

      &:active,
      &:focus,
      &:focus-within {
        background-color: $white-1;
        @include box-shadow(0px 0px 0px 2px rgba(127, 67, 196, 0.12));
      }

      &.ant-select-selection--single {
        height: 46px;
        .ant-select-selection__rendered {
          line-height: 42px;
        }
      }
      &.ant-select-selection--single,
      &.ant-select-selection--multiple {
        .ant-select-selection__rendered {
          .ant-select-selection__placeholder {
            color: $gray-8;
          }
        }
      }
    }

    .ant-select-arrow {
      color: $gray-8;
    }
  }

  &.ant-select-disabled {
    color: $gray-4;

    .ant-select-selection {
      background: $gray-2;

      &:hover {
        background-color: $gray-2;
        border-color: $gray-2;
        border-right-width: 2px !important;
      }
    }

    .ant-select-arrow {
      color: $gray-4;
    }
  }

  &.ant-select-open:not(.sc-select-disabled) {
    .ant-select-selection {
      background-color: $white-1;
      @include box-shadow(0px 0px 0px 2px rgba(127, 67, 196, 0.12));
    }
  }

  &.ant-select-focused:not(.sc-select-disabled) {
    .ant-select-selection {
      @include box-shadow(0px 0px 0px 2px rgba(127, 67, 196, 0.12));
      background-color: $white-1;
      border-color: $purple-6;
      border-right-width: 2px !important;

      &:active,
      &:focus {
        background-color: $white-1;
        border-color: $purple-6;
        border-right-width: 2px !important;
        @include box-shadow(0px 0px 0px 2px rgba(127, 67, 196, 0.12));
      }
    }
  }

  .ant-select-selection__clear {
    color: $red-8;
    top: 21px;
  }

  &::after {
    content: attr(data-name);
    display: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
  }
}

.sc-select-dropdown {
  &.ant-select-dropdown {
    @include border-radius(6px);
    @include box-shadow(
      0px 0px 3px rgba(44, 62, 80, 0.24),
      0px 4px 8px -2px rgba(44, 62, 80, 0.16)
    );
  }

  &.ant-select-dropdown.ant-select-dropdown--multiple
    .ant-select-dropdown-menu-item-selected
    .ant-select-selected-icon,
  &.ant-select-dropdown.ant-select-dropdown--multiple
    .ant-select-dropdown-menu-item-selected:hover
    .ant-select-selected-icon {
    color: $green-8;
  }

  .ant-select-dropdown-menu-item {
    color: $gray-8;
    @include font-regular-sm;
    padding: 10px 14px;

    &:not(.ant-select-dropdown-menu-item-disabled) {
      background-color: $white-1;
    }
    &:hover {
      &:not(.ant-select-dropdown-menu-item-disabled) {
        background-color: $gray-1;
      }
    }
  }
  .ant-select-dropdown-menu-item-selected {
    background-color: $gray-1;
    font-weight: 500;
  }

  .ant-select-dropdown-menu-item-disabled {
    color: $gray-4;
    &:hover {
      color: $gray-4;
    }
  }

  .sc-select-option-select-all {
    border-bottom: 1px solid $gray-2;
  }

}

.sc-select-dropdown-checkbox {
  &.indeterminate {
    .sc-select-option-select-all {
      &::before {
        background-color: $white-1;
        border-color: $gray-2;
      }

      &::after {
        content: '';
        position: absolute;
        display: table;
        top: 50%;
        left: 22px;
        width: 12px;
        height: 12px;
        background-color: $purple-6;
        transform: scale(1) translate(-50%, -50%);
        border: none;
        @include border-radius(4px);
      }

      &.ant-select-dropdown-menu-item-disabled {
        &::before {
          border-color: $gray-4;
          background-color: $gray-2;
        }

        &::after {
          background-color: $gray-4;
        }
      }
    }
  }
  .ant-select-dropdown-menu-item {
    padding-left: 42px;
    padding-top: 8px;

    &:before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      background-color: $white-1;
      border: 2px solid $gray-2;
      border-collapse: separate;
      transition: all 0.3s;
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      @include border-radius(6px);
    }

    &.ant-select-dropdown-menu-item-disabled {
      &::before {
        border-color: $gray-4;
        background-color: $gray-2;
      }
    }

    .anticon-check,
    .ant-select-selected-icon {
      display: none;
    }
  }
  .ant-select-dropdown-menu-item-selected {
    &:before {
      background-color: $purple-6;
      border: 1px solid $purple-6;
    }

    &:after {
      top: 45%;
      left: 0.2em;
      width: 5.71428571px;
      height: 9.14285714px;
    }
    &:after {
      position: absolute;
      display: table;
      border: 2px solid $white-1;
      border-top: 0;
      border-left: 0;
      left: 18px;
      top: 50%;
      transform: rotate(45deg) scale(1) translate(-50%, -50%);
      content: " ";
    }
  }

  &.ant-select-dropdown.ant-select-dropdown--multiple
    .ant-select-dropdown-menu-item-selected
    .ant-select-selected-icon,
  &.ant-select-dropdown.ant-select-dropdown--multiple
    .ant-select-dropdown-menu-item-selected:hover
    .ant-select-selected-icon {
    display: none;
  }
}
