@charset "UTF-8";

/*
Version         : 1.0
Created Date    : 20/1/2022
Modified Date   : -
Creator         : riskinputra
Contributor     : -
About           : -
*/

/**
  *ALL VARIABLES MOVE TO GLOBAL-VARIABLE
*/

* {
  margin: 0;
  padding: 0;
  outline: none;
  &:hover, *:focus {outline: none}
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
  * GENERAL HTML AND BODY STYLES
  */
html, body {
  @include font-regular-sm;
  font-family             : $font-stack !important;
  overflow-x              : hidden;
  box-sizing              : border-box;
}

h1 {
  @include font-medium-3xl;
}
h2 {
  @include font-medium-2xl;
}
h3 {
  @include font-medium-xl;
}
h4 {
  @include font-medium-lg;
}
h5 {
  @include font-medium-md;
}
h6 {
  @include font-medium-sm;
}
// Custom global styles
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden
}

fieldset {
  display: block;
  margin-inline-start: 2px !important;
  margin-inline-end: 2px !important;
  padding-block-start: 0.5em !important;
  padding-inline-start: 1em !important;
  padding-inline-end: 1em !important;
  padding-block-end: 1em !important;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}