/*====================
STICKEARN Color
=====================*/

$purple-1: #F4EEFB; // Selected background color
$purple-2: #DECDF2;
$purple-3: #CCB4E7; // Border
$purple-4: #B28EDB;
$purple-5: #9868CF; // Hover
$purple-6: #7F43C4; // STICKEARN - Primary
$purple-7: #6733A2; // Click
$purple-8: #4E277A;
$purple-9: #44226A;
$purple-10: #2D1647;

$yellow-1: #FFFAEC;
$yellow-2: #FFDC7D;
$yellow-3: #FFDC7D;
$yellow-4: #FFD258;
$yellow-5: #FFC420;
$yellow-6: #FAB800;
$yellow-7: #D69D00;
$yellow-8: #B38300;
$yellow-9: #6B4F00;
$yellow-10: #473400;

$cyan-1: #EBFEFB;
$cyan-2: #C2FBF2;
$cyan-3: #99F9E9;
$cyan-4: #5DF6DC;
$cyan-5: #20F2CF;
$cyan-6: #0CC6A7; // ATLAS - Primary
$cyan-7: #088D77;
$cyan-8: #066353;
$cyan-9: #04473B;
$cyan-10: #022A24;

$red-1: #FFF1F0;
$red-2: #FFCCC7;
$red-3: #FFA39E;
$red-4: #FF7875;
$red-5: #FF4D4F;
$red-6: #F5222D;
$red-7: #CF1322;
$red-8: #A8071A;
$red-9: #820014;
$red-10: #5C0011;

$gray-1: #FFFFFF;
$gray-2: #F9F9FA;
$gray-3: #F4F4FA; // Background, Table Header
$gray-4: #E0E2EF; // Border
$gray-5: #BDC1D4; // Text Placeholder
$gray-6: #AAAEC2; // Disable
$gray-7: #8E95B8; // Secondary Text, Caption
$gray-8: #525876; // Body text
$gray-9: #131825; // Title
$gray-10: #06080D;

$orange-1: #FFF7E6;
$orange-2: #FFE7BA;
$orange-3: #FFD591;
$orange-4: #FFC069;
$orange-5: #FA8C16;
$orange-6: #FA8C16;
$orange-7: #D46B08;
$orange-8: #AD4E00;
$orange-9: #873800;
$orange-10: #612500;

$sunrise-yellow-1: #FEFFE6;
$sunrise-yellow-2: #FFFFB8;
$sunrise-yellow-3: #FFFB8F;
$sunrise-yellow-4: #FFF566;
$sunrise-yellow-5: #FFEC3D;
$sunrise-yellow-6: #FADB14;
$sunrise-yellow-7: #D4B106;
$sunrise-yellow-8: #AD8B00;
$sunrise-yellow-9: #876800;
$sunrise-yellow-10: #614700;

$lime-1: #FCFFE6;
$lime-2: #F4FFB8;
$lime-3: #EAFF8F;
$lime-4: #D3F261;
$lime-5: #BAE637;
$lime-6: #A0D911;
$lime-7: #7CB305;
$lime-8: #5B8C00;
$lime-9: #3F6600;
$lime-10: #254000;

$green-1: #F6FFED;
$green-2: #D9F7BE;
$green-3: #B7EB8F;
$green-4: #95DE64;
$green-5: #73D13D;
$green-6: #52C41A;
$green-7: #389E0D;
$green-8: #237804;
$green-9: #135200;
$green-10: #092B00;

$vulcano-1: #FFF2E8;
$vulcano-2: #FFD8BF;
$vulcano-3: #FFBB96;
$vulcano-4: #FF9C6E;
$vulcano-5: #FF7A45;
$vulcano-6: #FA541C;
$vulcano-7: #D4380D;
$vulcano-8: #AD2102;
$vulcano-9: #871400;
$vulcano-10: #610B00;

$geekblue-1: #F0F5FF;
$geekblue-2: #D6E4FF;
$geekblue-3: #ADC6FF;
$geekblue-4: #85A5FF;
$geekblue-5: #597EF7;
$geekblue-6: #2F54EB;
$geekblue-7: #1D39C4;
$geekblue-8: #10239E;
$geekblue-9: #061178;
$geekblue-10: #030852;

$golden-purple-1: #F9F0FF;
$golden-purple-2: #EFDBFF;
$golden-purple-3: #D3ADF7;
$golden-purple-4: #B37FEB;
$golden-purple-5: #9254DE;
$golden-purple-6: #722ED1;
$golden-purple-7: #531DAB;
$golden-purple-8: #391085;
$golden-purple-9: #22075E;
$golden-purple-10: #120338;

$magenta-1: #FFF0F6;
$magenta-2: #FFD6E7;
$magenta-3: #FFADD2;
$magenta-4: #FF85C0;
$magenta-5: #F759AB;
$magenta-6: #EB2F96;
$magenta-7: #C41D7F;
$magenta-8: #9E1068;
$magenta-9: #780650;
$magenta-10: #520339;

$extra-1: #F0F2F5;
$extra-2: #001529;
$extra-3: #000C17;