/*====================
STICKEARN Color Variable
=====================*/

$gray-1: #F2F3F6;
$gray-2: #E5E6ED;
$gray-3: #CBCDDB;
$gray-4: #B0B4C8;
$gray-5: #969BB6;
$gray-6: #7C83A4;
$gray-7: #646B90;
$gray-8: #525876;
$gray-9: #464B65;
$gray-10: #2F3243;

$purple-1: #F2ECF9;
$purple-2: #E5D9F3;
$purple-3: #CCB4E7;
$purple-4: #B28EDB;
$purple-5: #9868CF;
$purple-6: #7F43C4;
$purple-7: #6733A2;
$purple-8: #4E277A;
$purple-9: #44226A;
$purple-10: #381C59;

$yellow-1: #FFFAEC;
$yellow-2: #FFF5DA;
$yellow-3: #FFEBB5;
$yellow-4: #FFE190;
$yellow-5: #FFD76A;
$yellow-6: #FFCD45;
$yellow-7: #FFC420;
$yellow-8: #FAB800;
$yellow-9: #D69D00;
$yellow-10: #B38300;

$red-1: #FEEFF0;
$red-2: #FEE0E1;
$red-3: #FCC0C3;
$red-4: #FBA1A6;
$red-5: #F98288;
$red-6: #F8626A;
$red-7: #F6434C;
$red-8: #F5222D;
$red-9: #E60B16;
$red-10: #BF0912;

$green-1: #F6FFED;
$green-2: #D9F7BE;
$green-3: #B7EB8F;
$green-4: #A8E777;
$green-5: #95DE64;
$green-6: #95DE64;
$green-7: #73D13D;
$green-8: #52C41A;
$green-9: #47AA16;
$green-10: #3C8E12;

$blue-1: #F0F3FE;
$blue-2: #E1E7FC;
$blue-3: #C3CEF9;
$blue-4: #A5B6F6;
$blue-5: #889DF3;
$blue-6: #6A85F0;
$blue-7: #4C6CED;
$blue-8: #2F54EB;
$blue-9: #163DDB;
$blue-10: #1233B6;

$white-1: #FFFFFF;