/**
===================
Regular
===================
**/
@mixin font-regular-2xs {
  font-size: $text-2xs;
  line-height: 18px;
  font-weight: normal;
}
@mixin font-regular-xs {
  font-size: $text-xs;
  line-height: 20px;
  font-weight: normal;
}
@mixin font-regular-sm {
  font-size: $text-sm;
  line-height: 22px;
  font-weight: normal;
}
@mixin font-regular-md {
  font-size: $text-md;
  line-height: 24px;
  font-weight: normal;
}
@mixin font-regular-lg {
  font-size: $text-lg;
  line-height: 28px;
  font-weight: normal;
}
@mixin font-regular-xl {
  font-size: $text-xl;
  line-height: 32px;
  font-weight: normal;
}
@mixin font-regular-2xl {
  font-size: $text-2xl;
  line-height: 38px;
  font-weight: normal;
}
@mixin font-regular-3xl {
  font-size: $text-3xl;
  line-height: 46px;
  font-weight: normal;
}
@mixin font-regular-4xl {
  font-size: $text-4xl;
  line-height: 54px;
  font-weight: normal;
}
@mixin font-regular-5xl {
  font-size: $text-5xl;
  line-height: 64px;
  font-weight: normal;
}

/**
===================
Medium
===================
**/
@mixin font-medium-xs {
  font-size: $text-xs;
  line-height: 20px;
  font-weight: 400;
}
@mixin font-medium-sm {
  font-size: $text-sm;
  line-height: 22px;
  font-weight: 400;
}
@mixin font-medium-md {
  font-size: $text-md;
  line-height: 24px;
  font-weight: 400;
}
@mixin font-medium-lg {
  font-size: $text-lg;
  line-height: 28px;
  font-weight: 400;
}
@mixin font-medium-xl {
  font-size: $text-xl;
  line-height: 32px;
  font-weight: 400;
}
@mixin font-medium-2xl {
  font-size: $text-2xl;
  line-height: 38px;
  font-weight: 400;
}
@mixin font-medium-3xl {
  font-size: $text-3xl;
  line-height: 46px;
  font-weight: 400;
}
@mixin font-medium-4xl {
  font-size: $text-4xl;
  line-height: 54px;
  font-weight: 400;
}
@mixin font-medium-5xl {
  font-size: $text-5xl;
  line-height: 64px;
  font-weight: 400;
}
