// Fonts Size
$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 20px;
$text-xl: 24px;
$text-2xl: 30px;
$text-3xl: 38px;
$text-4px: 46px;
$text-5xl: 56px;

// Font-family
$font-stack:'Gotham Rounded', sans-serif;
